.App {
  width: 90%;
  height: 100vh;
  align-items: baseline;
}
.btn-primary{
  border: none;
  background-color: inherit;
}
a{
  text-decoration: none;
  color:black
}
a:hover{
  color:black
}
button:hover{
  color: inherit;
}
.row {
  padding: 0 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-right:0 !important;
  margin-left:0 !important;

}
.container{
  border: 1px solid rgb(141, 139, 139);
  margin-top: 10px;
  padding: 5px;
}
h6{
  padding: 10px;
}
.buttonBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}